#article {
  color: white;
  text-align: justify;

  position: fixed;
  min-width: 300px;
  width: 30vw;
  height: calc(100% - 14px);
  margin: 7px;

  background-color: #0d1622d9;
  border-radius: 5px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
